<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="Sign up for nodeKoaRabbit">
	    <meta name="author" content="Anirban Roy Das">
	    <!-- <link rel="icon" href="/static/media/favicon.png"> -->
	    <link rel="icon" href="/static/media/favicon.png">

	    <title>Sign up for nodeKoaRabbit</title>
		
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600,700" />

	    <!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	    <!-- Bootstrap core CSS -->
	    <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <!-- <link href="/static/css/vendors/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

	    <!-- Custom styles for this template -->
	    <link href="/static/css/auth.min.bundle.css" rel="stylesheet">
	    <!-- <link href="../css/auth.css" rel="stylesheet"> -->

	    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
  	</head>

  	<body>
    	<nav class="navbar navbar-default navbar-static-top">
          	<div class="container">
           		<div class="navbar-header">
          			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
          			</button>
          			<a class="navbar-brand" href="/">nodeKoaRabbit</a>
        		</div>
        		<div id="navbar" class="navbar-collapse collapse">
          			<!-- <ul class="nav navbar-nav">
			            <li class="active"><a href="#">Home</a></li>
			            <li><a href="#about">About</a></li>
			            <li><a href="#contact">Contact</a></li>
			        </ul> -->
		          	<ul class="nav navbar-nav navbar-right">
			            <li><a href="#">About Us</a></li>
			            <li><a href="#">Blog</a></li>
			            <li><a href="/login">Already have an account? S`ign in</a></li>
		          	</ul>
        		</div><!--/.nav-collapse -->
          	</div>
      	</nav>


    	<div class="container body-container">
		    

	        <form class="form-signup"  action="" role="form">
	            <h2 class="form-signup-heading">Join the cult now.</h2>
	            <div class="form-group name-form-group">
	            	<label for="inputName" class="sr-only">Name</label>
	            	<input type="text" id="inputNameSingup" class="inputNameSingup form-control" name="name" placeholder="Name" required>
	            	<span class="glyphicon glyphicon-ok form-control-feedback name-success-feedback" aria-hidden="true" style="display: none;"></span>
  					<span id="inputSuccess1Status" class="sr-only name-success-feedback" style="display: none;">(success)</span>
  					<span class="glyphicon glyphicon-remove form-control-feedback name-error-feedback" aria-hidden="true" style="display: none;"></span>
  					<span id="inputError1Status" class="sr-only name-error-feedback" style="display: none;">(error)</span>
  					<span id="helpBlock1" class="help-block name-helpblock" style="display: none;">Name can only be alphabet format</span>
	            </div>
	            <div class="form-group username-form-group">
	            	<label for="inputName" class="sr-only">Username</label>
	            	<input type="text" id="inputUsernameSingup" class="inputNameSingup form-control" name="uname" placeholder="Username" required>
	            	<span class="glyphicon glyphicon-ok form-control-feedback username-success-feedback" aria-hidden="true" style="display: none;"></span>
  					<span id="inputSuccess2Status" class="sr-only username-success-feedback" style="display: none;">(success)</span>
  					<span class="glyphicon glyphicon-remove form-control-feedback username-error-feedback" aria-hidden="true" style="display: none;"></span>
  					<span id="inputError2Status" class="sr-only username-error-feedback" style="display: none;">(error)</span>
  					<span id="helpBlock2" class="help-block username-helpblock" style="display: none;">Username can only be alphabet format</span>
  					<span id="helpBlock2-1" class="help-block username-helpblock-2" style="display: none;">Username already exists</span>
	            </div>
	            <div class="form-group email-form-group">
	            	<label for="inputEmail" class="sr-only">Email address</label>
	            	<input type="email" id="inputEmailSingup" class="inputEmailSingup form-control" name="email"  placeholder="Email address" required>
	            	<span class="glyphicon glyphicon-ok form-control-feedback email-success-feedback" aria-hidden="true" style="display: none;"></span>
  					<span id="inputSuccess3Status" class="sr-only email-success-feedback" style="display: none;">(success)</span>
  					<span class="glyphicon glyphicon-remove form-control-feedback email-error-feedback" aria-hidden="true" style="display: none;"></span>
  					<span id="inputError3Status" class="sr-only email-error-feedback" style="display: none;">(error)</span>
  					<span id="helpBlock3" class="help-block email-helpblock" style="display: none;">Wrong Email format</span>
  					<span id="helpBlock3-1" class="help-block email-helpblock-2" style="display: none;">Email already exists</span>
	            </div>
	            <div class="form-group password-form-group">
	            	<label for="inputPassword" class="sr-only">Password</label>
	            	<input type="password" id="inputPasswordSingup" class="inputPasswordSingup form-control" name="pwd" placeholder="Password" required>
	            	<span class="glyphicon glyphicon-ok form-control-feedback password-success-feedback" aria-hidden="true" style="display: none;"></span>
  					<span id="inputSuccess4Status" class="sr-only password-success-feedback" style="display: none;">(success)</span>
  					<span class="glyphicon glyphicon-remove form-control-feedback password-error-feedback" aria-hidden="true" style="display: none;"></span>
  					<span id="inputError4Status" class="sr-only password-error-feedback" style="display: none;">(error)</span>
  					<span id="helpBlock4" class="help-block password-helpblock" style="display: none;">Password should be atleast 6 letters with alphanumeric characters and ~@#$%^&*_+</span>
	            </div>	                   
	            <div class="btn-group gender-group" data-toggle="buttons">
                	<label class="btn btn-default">
                    	<input type="radio" name="gender" value="male" required/> Male
                	</label>
	                <label class="btn btn-default">
	                    <input type="radio" name="gender" value="female" required/> Female
	                </label>
	                <label class="btn btn-default">
	                    <input type="radio" name="gender" value="other" required/> Other
	                </label>
	                <span id="helpBlock5" class="help-block has-error gender-helpblock" style="color: red; display: none;">Gender to be selected!</span>
            	</div>
            	<div class="form-group invalid-form-group">
	            	<input type="hidden" id="csrfInput" class="inputPasswordSingup form-control" name="_csrf" value="${data.csrf}" >  
	            	<span id="helpBlock6" class="help-block error-helpblock" style="display: none;">Invalid Username or Password</span>
	            </div>
            	<div class="form-group has-error error-form-group" style="display: none;">
	            	<span id="helpBlock7" class="help-block">Something is not working! Try again later</span>
	            </div>
	            <div class="checkbox">
	                <label>
	                  <input class="tos" type="checkbox" value="accepted" name="tos" required> I accept the terms of service.
	                </label>
	                <span id="helpBlock7" class="help-block has-error tos-helpblock" style="color: red; display: none;">Tos should be accepted!</span>
	            </div>
	            <button class="btn btn-lg btn-primary btn-block signupbutton" type="submit">Sign up</button>
	            <p class="tos-message">By signing up, you agree to the <span style="color: #1da1f2;">Terms of Service</span> and <span style="color: #1da1f2;">Privacy Policy</span>, including Cookie Use. Others will be able to find you by email or phone number when provided.
	            </p>
	        </form>
			
	        <footer class="footer">
	          <p>&copy; 2016 nodeKoaRabbit, Inc.</p>
	        </footer>

    	</div> 




		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    	<script>window.jQuery || document.write('<script src="/static/js/assets/jquery.min.js"><\/script>')</script>

	  	<!-- Latest compiled and minified JavaScript -->
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	  	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	  	<script src="/static/js/vendors/ie10-viewport-bug-workaround.bundle.min.js"></script>
	  	<script src="/static/js/signup.bundle.min.js"></script>
  	</body>
</html>