    /*
    Flaticon icon font: Flaticon
    Creation date: 14/11/2016 14:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-black:before { content: "\f100"; }
.flaticon-black-1:before { content: "\f101"; }
.flaticon-cocktail:before { content: "\f102"; }
.flaticon-cocktail-1:before { content: "\f103"; }
.flaticon-cocktail-13:before { content: "\f104"; }
.flaticon-cocktail-15:before { content: "\f105"; }
.flaticon-cocktail-16:before { content: "\f106"; }
.flaticon-cocktail-on-a-glass:before { content: "\f107"; }
.flaticon-cocktail-with-lemon-slice:before { content: "\f108"; }
.flaticon-cogwheel:before { content: "\f109"; }
.flaticon-cogwheel-6:before { content: "\f10a"; }
.flaticon-communication:before { content: "\f10b"; }
.flaticon-communication-1:before { content: "\f10c"; }
.flaticon-cup:before { content: "\f10d"; }
.flaticon-cup-1:before { content: "\f10e"; }
.flaticon-cup-2:before { content: "\f10f"; }
.flaticon-cup-3:before { content: "\f110"; }
.flaticon-exit-1:before { content: "\f111"; }
.flaticon-exit-2:before { content: "\f112"; }
.flaticon-exit-3:before { content: "\f113"; }
.flaticon-favorite:before { content: "\f114"; }
.flaticon-favorite-1:before { content: "\f115"; }
.flaticon-favorite-2:before { content: "\f116"; }
.flaticon-flash:before { content: "\f117"; }
.flaticon-flash-2:before { content: "\f118"; }
.flaticon-flash-3:before { content: "\f119"; }
.flaticon-flash-symbol:before { content: "\f11a"; }
.flaticon-food:before { content: "\f11b"; }
.flaticon-food-1:before { content: "\f11c"; }
.flaticon-food-10:before { content: "\f11d"; }
.flaticon-food-11:before { content: "\f11e"; }
.flaticon-food-12:before { content: "\f11f"; }
.flaticon-food-2:before { content: "\f120"; }
.flaticon-food-3:before { content: "\f121"; }
.flaticon-food-5:before { content: "\f122"; }
.flaticon-glass:before { content: "\f123"; }
.flaticon-home:before { content: "\f124"; }
.flaticon-home-1:before { content: "\f125"; }
.flaticon-interface:before { content: "\f126"; }
.flaticon-lightining:before { content: "\f127"; }
.flaticon-lightning-1:before { content: "\f128"; }
.flaticon-lightning-2:before { content: "\f129"; }
.flaticon-like-1:before { content: "\f12a"; }
.flaticon-log-out:before { content: "\f12b"; }
.flaticon-logout:before { content: "\f12c"; }
.flaticon-logout-1:before { content: "\f12d"; }
.flaticon-notification:before { content: "\f12e"; }
.flaticon-rocket-2:before { content: "\f12f"; }
.flaticon-rocket-ship-2:before { content: "\f130"; }
.flaticon-settings:before { content: "\f131"; }
.flaticon-settings-1:before { content: "\f132"; }
.flaticon-settings-2:before { content: "\f133"; }
.flaticon-settings-4:before { content: "\f134"; }
.flaticon-settings-5:before { content: "\f135"; }
.flaticon-shape:before { content: "\f136"; }
.flaticon-sign-out-option:before { content: "\f137"; }
.flaticon-signs:before { content: "\f138"; }
.flaticon-signs-1:before { content: "\f139"; }
.flaticon-social:before { content: "\f13a"; }
.flaticon-symbol:before { content: "\f13b"; }
.flaticon-technology:before { content: "\f13c"; }
.flaticon-technology-1:before { content: "\f13d"; }
.flaticon-transport:before { content: "\f13e"; }
.flaticon-transport-1:before { content: "\f13f"; }
.flaticon-transport-2:before { content: "\f140"; }
.flaticon-transport-3:before { content: "\f141"; }
.flaticon-transport-5:before { content: "\f142"; }
.flaticon-web:before { content: "\f143"; }
    
    $font-Flaticon-black: "\f100";
    $font-Flaticon-black-1: "\f101";
    $font-Flaticon-cocktail: "\f102";
    $font-Flaticon-cocktail-1: "\f103";
    $font-Flaticon-cocktail-13: "\f104";
    $font-Flaticon-cocktail-15: "\f105";
    $font-Flaticon-cocktail-16: "\f106";
    $font-Flaticon-cocktail-on-a-glass: "\f107";
    $font-Flaticon-cocktail-with-lemon-slice: "\f108";
    $font-Flaticon-cogwheel: "\f109";
    $font-Flaticon-cogwheel-6: "\f10a";
    $font-Flaticon-communication: "\f10b";
    $font-Flaticon-communication-1: "\f10c";
    $font-Flaticon-cup: "\f10d";
    $font-Flaticon-cup-1: "\f10e";
    $font-Flaticon-cup-2: "\f10f";
    $font-Flaticon-cup-3: "\f110";
    $font-Flaticon-exit-1: "\f111";
    $font-Flaticon-exit-2: "\f112";
    $font-Flaticon-exit-3: "\f113";
    $font-Flaticon-favorite: "\f114";
    $font-Flaticon-favorite-1: "\f115";
    $font-Flaticon-favorite-2: "\f116";
    $font-Flaticon-flash: "\f117";
    $font-Flaticon-flash-2: "\f118";
    $font-Flaticon-flash-3: "\f119";
    $font-Flaticon-flash-symbol: "\f11a";
    $font-Flaticon-food: "\f11b";
    $font-Flaticon-food-1: "\f11c";
    $font-Flaticon-food-10: "\f11d";
    $font-Flaticon-food-11: "\f11e";
    $font-Flaticon-food-12: "\f11f";
    $font-Flaticon-food-2: "\f120";
    $font-Flaticon-food-3: "\f121";
    $font-Flaticon-food-5: "\f122";
    $font-Flaticon-glass: "\f123";
    $font-Flaticon-home: "\f124";
    $font-Flaticon-home-1: "\f125";
    $font-Flaticon-interface: "\f126";
    $font-Flaticon-lightining: "\f127";
    $font-Flaticon-lightning-1: "\f128";
    $font-Flaticon-lightning-2: "\f129";
    $font-Flaticon-like-1: "\f12a";
    $font-Flaticon-log-out: "\f12b";
    $font-Flaticon-logout: "\f12c";
    $font-Flaticon-logout-1: "\f12d";
    $font-Flaticon-notification: "\f12e";
    $font-Flaticon-rocket-2: "\f12f";
    $font-Flaticon-rocket-ship-2: "\f130";
    $font-Flaticon-settings: "\f131";
    $font-Flaticon-settings-1: "\f132";
    $font-Flaticon-settings-2: "\f133";
    $font-Flaticon-settings-4: "\f134";
    $font-Flaticon-settings-5: "\f135";
    $font-Flaticon-shape: "\f136";
    $font-Flaticon-sign-out-option: "\f137";
    $font-Flaticon-signs: "\f138";
    $font-Flaticon-signs-1: "\f139";
    $font-Flaticon-social: "\f13a";
    $font-Flaticon-symbol: "\f13b";
    $font-Flaticon-technology: "\f13c";
    $font-Flaticon-technology-1: "\f13d";
    $font-Flaticon-transport: "\f13e";
    $font-Flaticon-transport-1: "\f13f";
    $font-Flaticon-transport-2: "\f140";
    $font-Flaticon-transport-3: "\f141";
    $font-Flaticon-transport-5: "\f142";
    $font-Flaticon-web: "\f143";